
<head>
  <meta charset="UTF-8">
  <title>Agri Aid - Home</title>
</head>
<body>
  <header>
    <h1>Welcome to Agri Aid</h1>
    <p>Explore our resources for agriculture, fisheries, plants, and veterinary services.</p>
    
  </header>

  <nav>
    <ul>
      <!-- <li><a href = "#">Home</a></li> -->
      <li><a routerLink = "/fisheries">Fisheries</a></li>
      <li><a routerLink = "/agriculture">Agriculture</a></li>
      <li><a routerLink = "/plant">Plants</a></li>
      <li><a routerLink = "/veterinary">Veterinary</a></li>
    </ul>
  </nav>

  <main>
    
    <div>
      <!-- <img src="../assets/images/git.png" alt="Agri Aid Image"> -->
      <img src="" alt="">
    </div>
    <!-- Your main content goes here -->
  </main>

  <footer>
    <!-- <p>&copy; 2023 Agri Aid. All rights reserved.</p> -->
  </footer>
</body>
