/* Basic Reset */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    
  }
  
  /* Body Styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Header Styles */
  header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2em;
    color: #333;
  }
  
  header p {
    color: #666;
  }
  
  /* Navigation Styles */
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  main{
    flex: 1;
  }
  
  /* Main Content Styles - Add your specific content styles here */
  
  /* Footer Styles */
  footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  /* Stick the footer to the bottom */
  margin-top: auto;
  }

  /* home.component.css */

img {
  background-image: url(https://english.news.cn/20230825/fe86fa04b3074635a83d12467cd60d55/20230825fe86fa04b3074635a83d12467cd60d55_ChkhgeE007009_20230825_CBMFN0A002.jpg);
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  height:700px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

  